<div class="panel panel-default">
	<div class="panel-heading accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#program{{loop.index}}">
		<h4 class="panel-title">{{ program.name }}<span class="label pull-right {% if program.enabled %} label-success">On {% else %} label-danger">Off {% endif %}</span></h4>
	</div>
	<div id="program{{ loop.index}}" class="panel-collapse collapse">
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-6">
					<input type="text" id="program{{ loop.index }}Name" name="program{{ loop.index }}Name" class="form-control" placeholder="Enter program name">
				</div>
				<div class="col-xs-12 col-sm-12 col-md-3">
					<div class="make-switch" data-on-label="<strong>On</strong>" data-off-label="<strong>Off</strong>">
						<input type="checkbox" id="program{{ loop.index }}Enabled" name="program{{ loop.index }}Enabled" {% if program.enabled %} checked="checked" {% endif %}>
					</div>
				</div>
				<div style="position:absolute; left:-100%">
					<button type="submit" name="formAction" value="save" />
				</div>
				<div class="col-xs-12 col-sm-12 col-md-3">
					<button type="submit" name="delete" value="{{ loop.index }}" class="btn btn-danger pull-right tip" data-container="body" data-toggle="popover" data-placement="auto top" data-trigger="hover" data-animation="true" data-content="Do you want this to delete this program."><span class="glyphicon glyphicon-remove"></span></button>
				</div>
			</div>
			<div class="row">
				Days to run
				<input type="checkbox" class="checkbox" id="program{{ loop.index }}Monday" name="program{{ loop.index }}Monday" {% if program.monday %} checked="checked" {% endif %}>
				<label for="program{{ loop.index }}Monday">Monday</label>
				<input type="checkbox" class="checkbox" id="program{{ loop.index }}Tuesday" name="program{{ loop.index }}Tuesday" {% if program.tuesday %} checked="checked" {% endif %}>
				<label for="program{{ loop.index }}Tuesday">Tuesday</label>
				<input type="checkbox" class="checkbox" id="program{{ loop.index }}Wednesday" name="program{{ loop.index }}Wednesday" {% if program.wednesday %} checked="checked" {% endif %}>
				<label for="program{{ loop.index }}Wednesday">Wednesday</label>
				<input type="checkbox" class="checkbox" id="program{{ loop.index }}Thursday" name="program{{ loop.index }}Thursday" {% if program.thursday %} checked="checked" {% endif %}>
				<label for="program{{ loop.index }}Thursday">Thursday</label>
				<input type="checkbox" class="checkbox" id="program{{ loop.index }}Friday" name="program{{ loop.index }}Friday" {% if program.friday %} checked="checked" {% endif %}>
				<label for="program{{ loop.index }}Friday">Friday</label>
				<input type="checkbox" class="checkbox" id="program{{ loop.index }}Saturday" name="program{{ loop.index }}Saturday" {% if program.saturday %} checked="checked" {% endif %}>
				<label for="program{{ loop.index }}Saturday">Saturday</label>
				<input type="checkbox" class="checkbox" id="program{{ loop.index }}Sunday" name="program{{ loop.index }}Sunday" {% if program.sunday %} checked="checked" {% endif %}>
				<label for="program{{ loop.index }}Sunday">Sunday</label>
			</div>
			
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-2">
					<h5>Start times</h5>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-2">
					<div class="input-group input-append bootstrap-timepicker">
						<span class="input-group-addon"><input type="checkbox">Box</input></span>
						<input id="program{{ loop.index }}timepicker1" name="program{{ loop.index }}timepicker1" type="text" class="form-control input-small" data-minute-step="10" data-default-time="{{program.timepicker1}}">
						<span class="input-group-addon add-on"><i class="glyphicon glyphicon-dashboard"></i></span>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-2">
					<div class="input-group input-append bootstrap-timepicker">
						<input id="program{{ loop.index }}timepicker2" name="program{{ loop.index }}timepicker2" type="text" class="form-control input-small" data-minute-step="10" data-default-time="{{program.timepicker2}}">
						<span class="input-group-addon add-on"><i class="glyphicon glyphicon-dashboard"></i></span>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-2">
					<div class="input-group input-append bootstrap-timepicker">
						<input id="program{{ loop.index }}timepicker3" name="program{{ loop.index }}timepicker3" type="text" class="form-control input-small" data-minute-step="10" data-default-time="{{program.timepicker3}}">
						<span class="input-group-addon add-on"><i class="glyphicon glyphicon-dashboard"></i></span>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-2">
					<div class="input-group input-append bootstrap-timepicker">
						<input id="program{{ loop.index }}timepicker4" name="program{{ loop.index }}timepicker4" type="text" class="form-control input-small" data-minute-step="10" data-default-time="{{program.timepicker4}}">
						<span class="input-group-addon add-on"><i class="glyphicon glyphicon-dashboard"></i></span>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-2">
				</div>
			</div>	
			<div class="row">
					Select zones...
				
			</div>
			<div class="clearfix visible-sm"></div>
		</div>	
	</div>
</div>