{% extends "layout.twig" %}
{% block content %}
			<div class="panel panel-default">
				<form id="zoneForm" role="form" method="post" enctype="application/x-www-form-urlencoded">
					<div class="panel-heading">
						<h3 class="panel-title">Zones</h3>
					</div>
					<div class="panel-body">
						<p>Zone editing, you can rename the zone names, you must also specify if there is a solenoid valve attached, set rain sensor and add a few notes.</p>
						<div class="panel-group" id="accordion">
							{% for zone in state.zones %}
							<div class="panel panel-default" data-zone-name="{{ zone.name }}">
								<div class="panel-heading accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#zone{{ loop.index }}">
									<h4 class="panel-title">Zone {{loop.index}}: {{ zone.name }}<span class="label pull-right {% if zone.enabled %} label-success">On {% else %} label-danger">Off {% endif %}</span></h4>
								</div>
								<div id="zone{{ loop.index }}" class="panel-collapse collapse">
									<div class="panel-body">
										<div class="col-xs-12 col-sm-12 col-md-4">
											<h5>Zone {{loop.index}} Name</h5>
											<input type="text" name="zone{{ loop.index }}Name" id="zone{{ loop.index }}Name" class="form-control" placeholder="Enter zone name">
										</div>
										<div class="clearfix visible-sm"></div>
										<div class="col-xs-12 col-sm-12 col-md-2">
											<h5>Enabled <span class="glyphicon glyphicon-info-sign tip" data-container="body" data-toggle="popover" data-placement="auto top" data-trigger="hover" data-animation="true" data-content="Do you want this zone to run? Note: you must have a solenoid valve installed."></span></h5>
											<div class="make-switch" data-on-label="<strong>On</strong>" data-off-label="<strong>Off</strong>">
												<input type="checkbox" {% if zone.enabled %} checked="checked" {% endif %} id="zone{{ loop.index }}OnOff" />
												<input type="hidden" name="zone{{loop.index}}Enabled" id="zone{{loop.index}}Enabled" value="{% if zone.enabled %}true{% else %}false{% endif %}" />
												<script type="text/javascript">
													$(function() {
														$('#zone{{ loop.index }}OnOff').change(function() {
															$('[name=zone{{loop.index}}Enabled]').val(
																$('#zone{{ loop.index }}OnOff').first()[0].checked
															);
														});
													});
												</script>
											</div>
										</div>
										<div class="clearfix visible-sm"></div>
										<div class="col-xs-12 col-sm-12 col-md-2">
											<h5>Rain sensor <span class="glyphicon glyphicon-info-sign tip" data-container="body" data-toggle="popover" data-placement="auto top" data-trigger="hover" data-animation="true" data-content="Do you want this to run this zone when it's raining? Note: you must have a rain sensor installed."></span></h5>
											<div class="make-switch" data-on-label="<strong>Yes</strong>" data-off-label="<strong>No</strong>">
												<input type="checkbox" {% if zone.rainSensor %} checked="checked" {% endif %} id="zone{{ loop.index }}Rain" />
												<input type="hidden" name="zone{{loop.index}}RainSensor" id="zone{{loop.index}}RainValue" value="{% if zone.rainSensor %}true{% else %}false{% endif %}" />
												<script type="text/javascript">
													$(function() {
														$('#zone{{ loop.index }}Rain').change(function() {
															$('[name=zone{{loop.index}}RainSensor]').val(
																$('#zone{{ loop.index }}Rain').first()[0].checked
															);
														});
													});
												</script>
											</div>
										</div>
										<div class="clearfix visible-sm"></div>
										<div class="col-xs-12 col-sm-12 col-md-4">
											<h5>Notes</h5>
											<textarea class="form-control" rows="3" name="zone{{ loop.index }}Notes" id="zone{{ loop.index }}Notes" >{{ zone.notes }}</textarea>
										</div>
										<div class="clearfix visible-sm"></div>
									</div>
								</div>
							</div>	
							{% endfor %}
						</div>
					</div>
					<div class="panel-footer"><button type="submit" name="formAction" value="save" class="btn btn-success" id="zoneFormSubmit">Save</button></div>
				</form>
			</div>
{% endblock %}